header {
  background: url("../image/header.png") no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: 951px; }

.header_logo {
  padding-left: 25%;
  padding-top: 5%; }

.header_nav {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
  padding-right: 35%; }

a {
  text-decoration: none;
  color: #f4f4f4; }
  a:hover {
    text-decoration: none; }

.button_get-app {
  border: 1px solid white;
  border-radius: 30px;
  width: 100px;
  height: 30px;
  text-align: center;
  padding-top: 2px;
  background-color: #f4f4f4;
  color: #2ecc71; }
  .button_get-app:hover {
    cursor: pointer;
    background-color: #2ecc71;
    color: #f4f4f4; }

.header_text {
  display: block;
  padding-left: 36%;
  padding-top: 30%;
  height: auto; }
  .header_text h1 {
    color: #f4f4f4;
    font-weight: 100;
    font-size: 4rem; }
  .header_text p {
    color: #f4f4f4;
    font-size: .9rem; }
  .header_text .app_image {
    display: flex; }
    .header_text .app_image img {
      padding-top: 20px;
      padding-right: 50px; }
      .header_text .app_image img:hover {
        cursor: pointer; }

.info_block {
  display: flex;
  margin-bottom: -20%;
  margin-top: -15%; }
  .info_block h1, .info_block p {
    color: #5a5a5a; }
  .info_block .info_block-image img {
    width: 70%;
    height: auto; }
  .info_block .info_block_text {
    margin-top: 25%; }
    .info_block .info_block_text h1 {
      font-size: 2.5rem; }
    .info_block .info_block_text .green {
      color: #2ecc71; }
    .info_block .info_block_text p {
      padding-right: 40%;
      font-size: .9rem; }

.info_block_menu {
  display: flex;
  margin-bottom: 10%;
  margin-top: -10%; }
  .info_block_menu h1, .info_block_menu p {
    color: #5a5a5a; }
  .info_block_menu .info_block-image img {
    width: 100%;
    height: auto;
    padding-right: 10%; }
  .info_block_menu .info_block_text {
    margin-top: 20%;
    padding-left: 35%; }
    .info_block_menu .info_block_text h1 {
      font-size: 2.5rem;
      font-weight: lighter; }
    .info_block_menu .info_block_text .green {
      color: #2ecc71; }
    .info_block_menu .info_block_text p {
      width: 65%;
      font-size: .9rem; }

.simple {
  background: url("../image/simple.png") no-repeat;
  background-size: 100% auto;
  height: 900px;
  margin-top: 25%; }
  .simple h1, .simple p {
    color: #5a5a5a; }
  .simple .info_block_text {
    padding-top: 5%;
    padding-left: 30%;
    padding-right: 30%; }
    .simple .info_block_text h1 {
      font-size: 2.5rem; }
    .simple .info_block_text .green {
      color: #2ecc71; }
    .simple .info_block_text p {
      font-size: .9rem; }

footer {
  display: flex;
  max-width: inherit; }
  footer .info_block-image img {
    width: 100%;
    height: 100%; }
  footer .info_block_text {
    width: 100%;
    position: absolute;
    padding-top: 5%; }
    footer .info_block_text h1, footer .info_block_text p {
      color: rgba(255, 255, 255, 0.56); }
    footer .info_block_text h1 {
      font-size: 2.5rem;
      color: white;
      font-weight: 100;
      padding-left: 30%;
      padding-right: 30%; }
    footer .info_block_text p {
      padding-top: 30px;
      padding-left: 25%;
      padding-right: 25%; }
    footer .info_block_text .green {
      color: white;
      font-weight: bold; }
  footer .button_get-app {
    position: absolute;
    margin-left: 45%;
    margin-top: 16%; }
